
<footer>
	<div class="container-fluid">
		
	
  <nav class="footer-inner">
   <h3 class="footer-heading text-center">
	   Maitri Vora
	  </h3>
	  <h5 class="footer-heading text-center">
		  Sardar Patel Institute of Technology
	  </h5>
  
    <section class="footer-item">
      
		<div class="row">
		<span class="col-sm-6 text-center">
			<a class="about1" href="https://www.instagram.com/__maitri3005/?igshid=sjl6kmtb6pf4" target="_blank"><i class="fa fa-instagram i1" aria-hidden="true"> Instagram </i></a>
		</span>
		<span class="col-sm-6 text-center">
	<a class="about1" href="https://www.linkedin.com/in/maitri-vora-3005/"><i class="fa fa-linkedin i1" aria-hidden="true"> Linkedin </i></a>
		</span>
		<span class="col-sm-6 text-center">
	<a class="about1" href="https://github.com/maitri-voraspit" target="_blank"><i class="fa fa-github i1" aria-hidden="true"> Github </i></a>
		</span>
			<span class="col-sm-6 text-center">
	<a class="about1" href="#" target="_blank"><i class="fa fa-gi i1" aria-hidden="true"> mail-maitriv19@gmail.com </i></a>
		</span>
	</div>
    </section>
	</nav>
    </div>
</footer>
<script  src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
	<script>const swup = new Swup();</script> 
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
 <script>
   AOS.init();
 </script>      
</body>
</html>