<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" >
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/card.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/skill.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/about.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/footer.css">

	<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">


	<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merienda&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mogra&display=swap" rel="stylesheet">
	<script type="text/javascript" src="/index.js"></script>
	
  <title>Portfolio</title>
  
</head>
  <body class="bg">
	<nav class="navbar navbar-default">
  <div style='   background-color: rgba(0,0,0,0.7);'class="container-fluid">
    
    	<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			 <a class="navbar-brand"  id="brand" style="color:white;font-size:20px;" href="/" >Maitri</a>
		
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-collapse">
		
     		<ul class="nav navbar-nav navbar-right">
						<li><a href="/" id="land" ><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
					<li><a href="/card" id="land" ><i class="fa fa-external-link-square" aria-hidden="true"></i> Explore!</a></li>
			</ul>
	 	
			
	  </div>
	</div>
</nav>