<%- include("./partials/header") %>
<main class="transition-fade" id ="swup">
<h1 class="heading1 text-center">
	About Me!
</h1>
<div class="container container1">
	<h3 class="right">
		Graduation(current)
	</h3>
	<h4>
		Sardar Patel Institute Of Technology
	</h4>
	<strong>Electronics And Telecommunications</strong>
		
	
	<div >
			1st Sem
		</div>
	<div class="row">
		
			
		<span class="col-sm-6 ">
			Aggregate Score
		</span>
		<span class="col-sm-6 left1">
			8.65 CGPA
		</span>
		
	</div>
	<div>
		.
	</div>
	
	
	<div >
			2nd Sem
		</div>
	<div class="row">
		
			
		<span class="col-sm-6 ">
			Aggregate Score
		</span>
		<span class="col-sm-6 left1">
			9.05 CGPA
		</span>
		
	</div>
	<hr>
	<h3 class="right">
		12th(HSC)
	</h3>
	<h4>
		SVP College of Commerece And Science
	</h4>
	<div class="row">
		<span class="col-sm-6 right1">
			Aggregate Score
		</span>
		<span class="col-sm-6 left1">
			88.30%
		</span>
		
	</div>
	<hr>
	
	<h3 class="right">
		10th(SSC)
	</h3>
	<h4>
		The Bishop's School
	</h4>
	<div class="row">
		<span class="col-sm-6 right1">
			Aggregate Score
		</span>
		<span class="col-sm-6 left1">
			92.60%
		</span>
		
	</div>
	<hr>
	<h3 class="right">
		Contact
	</h3>
	<div class="row">
		<span class="col-md-4 text-center">
			<a class="about" href="https://www.instagram.com/__maitri3005/?igshid=sjl6kmtb6pf4" target="_blank"><i class="fa fa-instagram i" aria-hidden="true"> Instagram </i></a>
		</span>
		<span class="col-md-4 text-center">
	<a class="about" href="https://www.linkedin.com/in/maitri-vora-3005/"><i class="fa fa-linkedin i" aria-hidden="true"> Linkedin </i></a>
		</span>
		<span class="col-md-4 text-center">
	<a class="about" href="https://github.com/maitri-voraspit" target="_blank"><i class="fa fa-github i" aria-hidden="true"> Github </i></a>
		</span>
	</div>
	
</div>
</main>
<%- include("./partials/footer") %>