<%- include("./partials/header") %>
<main class="transition-fade" id ="swup">

	
	
	<div class="head">
	
					<div class="container-fluid">
						
						
							<div class="col-md-6 col-sm-12">
							<div class="card">
   								 <div class="imgBX">
    								  <img src="https://images.unsplash.com/photo-1433878455169-4698e60005b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
    							 </div>
								<h2 class="heading">About</h2><div>.</div>
    							 <div class="content text-center">
      									
      										<h3>
												<p class="font">Click the link below to know more about me.</p>
												<a class="btn" href="/about">More!</a>
									 </h3>
    							</div>
  							</div>
						</div>
						
						
						
					
						
						<div class="col-md-6 col-sm-12">
							<div class="card">
   								 <div class="imgBX">
    								  <img src="https://images.unsplash.com/photo-1541018939203-36eeab6d5721?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
    							 </div>
								<h2 class="heading">Skills</h2>
								<div>.</div>
    							 <div class="content text-center">
      									
      										<h3>
												<p class="font">Here are some of my skills and their respective ratings </p>
												<a class="btn" href="/skills">More!</a>
													
												
												
									 </h3>
    							</div>
  							</div>
						</div>
					</div>
					<div class="container-fluid">
						<div class="col-md-6 col-sm-12">
							<div class="card">
   								 <div class="imgBX">
    								  <img src="https://images.unsplash.com/photo-1536240478700-b869070f9279?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
    							 </div>
								<h2 class="heading text-center">Basic Logo Animation</h2><div>.</div>
    							 <div class="content">
      									
      										<h3>
												<p class="font">Here are some of my logo animations which I have made using Adobe After Effects.</p>
												<a class="btn" href="/logo">More!</a>
									 </h3>
    							</div>
  							</div>
						</div>
						
				
					
						
						
						
						
						<div class="col-md-6 col-sm-12">
							<div class="card">
   								 <div class="imgBX">
    								  <img src="https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
    							 </div>
								<h2 class="heading text-center">Projects and Accomplishments</h2><div>.</div>
    							 <div class="content">
      								
      										<h3>
												<p class="font">Here are some of my projects and accomplishments</p>
													<a class="btn" href="/projects">More!</a>
									 </h3>
    							</div>
  							</div>
						</div>
			
						
			
					</div>
	</div>
			
	</main>
  
   <%- include("./partials/footer") %>

 
