<%- include("./partials/header") %>

<main class="transition-swipe" id ="swup">


	 <div class="grad">
	 
   
     <div data-aos="flip-down">
    <div class="context">
     		 	
     <h1> <div class="landing"> 

		  <nav>
	
	  </nav>
		  Hey, I am  Maitri  Vora. A
      <span id="adj" onload="crazy()">creative</span> full-stack web
        developer. 
		  <div>
			  I am currently pursuing my B.Tech degree in
		  </div>  
		Electronics and Telecommunications department.<hr>
		 <div class="text-center">
			 <a href="/card" class="btn"> KNOW MORE! <i class="fa fa-laptop hidden-sm" aria-hidden="true"></i></a>
		  </div> 
        </div>
		 </h1> 
        
        </div>
  </div>
   
	  </div>

	 



	  </main>
 


  
   
   <%- include("./partials/footer") %>

 