<%- include("./partials/header") %>

<main class="transition-fade" id ="swup">
	<h1 class="text-center heading1">
		Simple -Logo- Animation
	</h1>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="vid">
				<video  class="wid" controls poster="logo.png">
 					 <source src="Comp.mp4" type="video/mp4">
  	
				</video>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="vid vid-right">
				<video class="wid"  controls poster="love.png">
 					 <source src="love.mp4" type="video/mp4">
  	
				</video>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="vid">
				<video  class="wid" controls poster="5.png" >
 					 <source src="5.mp4" type="video/mp4">
  	
				</video>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="vid vid-right">
				<video  class="wid"  controls poster="apple.png">
 					 <source src="logo.mp4" type="video/mp4">
  	
				</video>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="vid vid-last">
				<video   class="wid" controls poster="typography.png">
 					 <source src="typography.mp4" type="video/mp4">
  	
				</video>
			</div>
		</div>
		
	
	
	</div>
</div>
	

</main>
   <%- include("./partials/footer") %>

 
