<%- include("./partials/header") %>
<main class="transition-fade" id ="swup">
<h1 class="heading1 text-center">
	Projects 
</h1>


	
	
		<div class="head">
	
					<div class="container-fluid">
						
						
							<div class="col-md-6 col-sm-12">
							<div class="card">
   								 <div class="imgBX">
    								  <img src="moviebsuter.png">
    							 </div>
								<h2 class="heading">Moviebuster</h2><div>.</div>
    							 <div class="content text-center">
      									
      										<h3>
												<p class="font">A website where one can put one's views on a particular movie and search any movie.</p>
												<a class="btn" target="_blank" href="https://moviebusterreviews.herokuapp.com/">Visit site</a>
									 </h3>
    							</div>
  							</div>
						</div>
						
						
						
					
						
						<div class="col-md-6 col-sm-12">
							<div class="card">
   								 <div class="imgBX">
    								  <img src="colorgame.png">
    							 </div>
								<h2 class="heading">Color Game</h2>
								<div>.</div>
    							 <div class="content text-center">
      									
      										<h3>
												<p class="font">A simple website/game using jquery and javascript</p>
												<a class="btn"  target="_blank" href="https://colorgame410.herokuapp.com/">Visit Site</a>
													
												
												
									 </h3>
    							</div>
  							</div>
						</div>
					</div>
					<div class="container-fluid">
						<div class="col-md-6 col-sm-12">
							<div class="card">
   								 <div class="imgBX">
    								  <img src="blogpage.png">
    							 </div>
								<h2 class="heading text-center">Blog page</h2><div>.</div>
    							 <div class="content">
      									
      										<h3>
												<p class="font">An open platform to put up a blog and the blog is editable and deletable</p>
												<a class="btn" target="_blank" href="https://blogpage410.herokuapp.com/">Visit Site</a>
									 </h3>
    							</div>
  							</div>
						</div>
						
				
					
						
						
						
						
						<div class="col-md-6 col-sm-12">
							<div class="card">
   								 <div class="imgBX">
    								  <img src="todolost.png">
    							 </div>
								<h2 class="heading text-center">To-Do-List</h2><div>.</div>
    							 <div class="content">
      								
      										<h3>
												<p class="font">A very basic to do list website which is every developer's first project.</p>
													<a class="btn" target="_blank" href="https://todolist410.herokuapp.com/">Visit site</a>
									 </h3>
    							</div>
  							</div>
						</div>
			
						
			
					</div>
	</div>
	<h1 class="heading1 text-center">
	Accomplishments
</h1>

	
	<div class="container">
	<div class="container2">
		 <div class="col-12">
                <div class="card mb-3">
                  <h4 class="card-header">E-Cell Business Case Study Competition</h4><hr class="pro">
                  <div class="card-body">
                    
                    <p class="card-text">Our team secured First Position in National Business Case Study Competition by successfully drafting a business model for the company mentioned in the problem statement.</p>
                    
                  </div>
                </div>
              </div>
	</div>
	
             <div class="container2">
				 
              <div class="col-12">
                <div class="card mb-3">
                  <h4 class="card-header">Notebook Nation Case Study</h4><hr class="pro">
                  <div class="card-body">
                    
                    <p class="card-text">Our team secured 8th position amongst 67 colleges in the online case study competition organized by Notebook Nation.</p>
                    
                  </div>
                </div>
              </div>
            </div>

	</div>
			
</main>      



<%- include("./partials/footer") %>