<%- include("./partials/header") %>
<main class="transition-fade" id ="swup">
<h1 class="text-center heading1">
	Skills
</h1>
<div class="container-skills">
	
			<div class="html">
					<p class="bar-title">
						<img src="https://icon2.cleanpng.com/20180503/ygq/kisspng-web-development-html-css3-the-ohana-code-logo-2cpaper-projection-shaded_1660937-html-dropdown-js-5aebd562e66d85.8124523515254050269438.jpg"> HTML5 and CSS
						<span class="percent align-right">90%</span>
					</p>
					<div class="bar">
						<div class="bar-fill bar-fill-html start"></div>
					</div>
			</div>
		
					<div class="javascript">
						<p class="bar-title">
							<img src="https://icon2.cleanpng.com/20180720/bv/kisspng-javascript-logo-html-clip-art-javascript-logo-5b5188b13c2314.0304322315320700652463.jpg"> Javascript
							<span class="percent align-right">60%</span>
						</p>
						<div class="bar">
							<div class="bar-fill bar-fill-javascript start"></div>
						</div>
					</div>
					<div class="jquery">
						<p class="bar-title">
							<img src="https://icon2.cleanpng.com/20180502/heq/kisspng-web-development-jquery-ui-javascript-computer-icon-jqlogo-5ae94a5d3322d7.6814333115252383652095.jpg"> JQuery
							<span class="percent align-right">60%</span>
						</p>
						<div class="bar">
							<div class="bar-fill bar-fill-jquery start"></div>
						</div>
					</div>
					<div class="responsive-design">
						<p class="bar-title">
							<img src="https://icon2.cleanpng.com/20180503/pee/kisspng-responsive-web-design-computer-icons-cross-platfor-5aebc1c7b9a925.0372792415254000077605.jpg"> Responsive Design
							<span class="percent align-right">90%</span>
						</p>
						<div class="bar">
							<div class="bar-fill bar-fill-responsive start"></div>
						</div>
					</div>
					<div class="mongo">
						<p class="bar-title">
							<img src="https://icon2.cleanpng.com/20180802/cky/kisspng-mongodb-nosql-document-oriented-database-portable-thessalon%C3%ADki-mongodb-user-group-thessalon%C3%ADki-g-5b639f091e0a62.5515153815332554331231.jpg"> MongoDB
							<span class="percent align-right">70%</span>
						</p>
						<div class="bar">
						<div class="bar-fill bar-fill-mongo start"></div>
						</div>
					</div>
	
	
						<div class="node">
						<p class="bar-title">
							<img src="https://icon2.cleanpng.com/20180425/xeq/kisspng-node-js-javascript-web-application-express-js-comp-5ae0f84de7b809.1939946215246930699491.jpg"> NodeJs
							<span class="percent align-right">80%</span>
						</p>
						<div class="bar">
						<div class="bar-fill bar-fill-node start"></div>
						</div>
					</div>
	
	<div class="bootstrap">
						<p class="bar-title">
							<img src="https://icon2.cleanpng.com/20180409/ucw/kisspng-responsive-web-design-bootstrap-sass-cascading-sty-framework-5acb894ae24524.4360229615232883949268.jpg"> Bootstrap
							<span class="percent align-right">95%</span>
						</p>
						<div class="bar">
						<div class="bar-fill bar-fill-bootstrap start"></div>
						</div>
					</div>
	
	<div class="express">
						<p class="bar-title">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ7S33Oq2FeRbyBBA6l1q8PwLVa3SzaONO-9Q&usqp=CAU"> Express
							<span class="percent align-right">70%</span>
						</p>
						<div class="bar">
						<div class="bar-fill bar-fill-express start"></div>
						</div>
					</div>
	
	
	
	<div class="C">
						<p class="bar-title">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQfG0z1E6RrBZaVmwDakEIMDGpaNmbv4mNjHw&usqp=CAU"> C/C++
							<span class="percent align-right">75%</span>
						</p>
						<div class="bar">
						<div class="bar-fill bar-fill-C start"></div>
						</div>
					</div>
	
	<div class="api">
						<p class="bar-title">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR9F7-vTz37WQfXU1WIV2G54dqRSvHNCYr-Dw&usqp=CAU"> Working with API
							<span class="percent align-right">95%</span>
						</p>
						<div class="bar">
						<div class="bar-fill bar-fill-api start"></div>
						</div>
					</div>
			</div>
	
</main>	

<%- include("./partials/footer") %>