@media (max-width : 600px) {
	div.landing{
		font-size:18px !important;
		margin-top:150px !important;
	}
	#adj{
		
		font-size:19 !important;
	}
	
	
	
}

*{
    margin: 0px;
    padding: 0px;
	box-sizing:border-box;
}
body.bg {
   
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
div.grad {
  animation: animate 5s linear  forwards;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#land{
    color:white !important;
	font-size:20px;
	margin-right:30px;
}
#land:hover{
    color:white !important;
	font-size:20px;
	background-color:rgba(0,0,0,0.2);
	border-radius:10px;
	
}


.navbar-default{
	background-color:rgba(0,0,0,0);
	border:0px;
	font-family: 'Mogra', cursive;
	color:white;
}
hr{
	width:60%;
	margin-left:20%;
}
.btn{
	background-color:rgba(255,255,255,0.5);
	color:blue;
	border:1px solid black;
	font-weight:500;
	border-radius:5px;
}
.btn:hover{	
	background-color:rgba(252, 132, 3,1);
	
}

.transition-swipe {
  transition: 800ms;
  transform: translateY(0);
}

html.is-animating .transition-swipe {
  transform: translateY(1000px);
}

#adj{
  color:orange;
	font-size: 35px;
		font-family: 'Fredoka One', cursive;
font-family: 'Merienda', cursive;
	font-weight:800;
}
div.landing{
	
	background-color:rgba(0, 0, 0,0);
	border:0px;
	text-align: center;
	padding:5px 5px;
	font-size:32px;
	color:white;
	text-align:center;
	margin-top:15%;
	font-family: 'Fredoka One', cursive;
	font-family: 'Merienda', cursive;
	width:60%;
	padding-bottom:20px;
	margin-left: 20%;
	
	
}

.fa-laptop{
	
	font-size:15px;
	 background: -webkit-linear-gradient(rgb(204, 73, 76),rgb(107, 0, 2));
	-webkit-text-stroke: 1px black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

 .fa-laptop:hover{
	transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}



.vid{
	margin-top:100px !important;
	
}
.wid{
	width:400px;
}
.vid-last{
	margin-bottom:30px;
}
.vid-right{
	margin-left:150px;
}
@media (max-width : 486px) {
	.vid-right{
		margin-left:60px !important;
	}
	.wid{
		width:300px !important;
	}
		
	}
@media (min-width : 486px) and (max-width :991px){
	.vid-right{
		margin-left:250px !important;
	}
}
.heading1{
	color:white;
	font-family: 'Abril Fatface', cursive;
	margin-top:20px!important;
	margin-bottom:40px !important;
}

